<!-- Privacy-friendly analytics by Plausible -->
<script async src="https://plausible.io/js/pa-52V9kJgYUq8s0k5bghGiV.js"></script>
<script>
 window.plausible=window.plausible||function(){(plausible.q=plausible.q||[]).push(arguments)},plausible.init=plausible.init||function(i){plausible.o=i||{}};
 plausible.init()
</script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-KB7BY6CVC4"></script>
<script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());

 gtag('config', 'G-KB7BY6CVC4');
</script>